.wrapper {
    width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.welcomeWrapper {
    padding: 20px;
}

.headerWrapper {
    width: 1021px;
    margin: 0 auto;
    position: relative;
}
.headerWrapper h2 {
    font: 34px "Fira Code Medium" ;
    color: #000000;
    text-align: center;
    padding: 5px;
    height: 28px;
    line-height: 28px;
    position: relative;
    /*字母全部大写*/
    text-transform: uppercase;
    margin-bottom: 44px;
}
/*使用after 加的底部横线 */
.headerWrapper h2:after {
    /*content ,display 不能少*/
    content: "";
    display: block;
    width: 42px;
    position: absolute;
    left: 50%;
    margin-left: -21px;
    bottom : -5px;
    border-bottom: 4px solid #01a1ff;

}

/*.headerWrapper .line {*/
/*    position: absolute;*/
/*    top: 32px;*/
/*    height: 2px;*/
/*    width: 21px;*/
/*    left: 55%;*/
/*    margin-left: -5px;*/
/*    background-color: #01a1ff;*/
/*}*/
.headerWrapper p {
    text-align: center;
    font-size: 14px;
    color: #666666;
}

.listCardWrapper {
    display: flex;
    margin-left: -20px;
    text-align: center;
}
.listCardWrapper .listCard img {
    left: 50%;
    margin-top: 20px;
}
.listCardWrapper .listCard h3 {
    margin-top: 20px;
    font-size: 20px;
    color: #333333;
}

.listCardWrapper .listCard p:last-child {
    margin-top: 20px;
    line-height: 1.5rem;
}
.listCardWrapper .listCard p:first-child {
    margin-top: 5px;
}


.listCardWrapper .listCard {
    margin: 40px 20px;
    flex: 1;
}
.listCardWrapper .listCard:first-child {
    margin-left: 0px;
}
.listCardWrapper .listCard:last-child {
    margin-right: 0px;
}
.listCardWrapper .listCard .describeText {
    font:12px SimSong ;
    color: #999999;
    line-height: 2.0rem;
}


.productionCenterWrapper .title {
    text-align: center;
    width: 1020px;
    margin: 0 auto;
}
.productionCenterWrapper .title h3 {
    font-size: 24px;
    text-align: center;
    padding: 5px;
}
.productionCenterWrapper .title h3 span {
    padding: 5px 0;
    text-decoration: underline;
    text-decoration-color:#01a1ff ;
}
.productionCenterWrapper .title p {
    font:14px SimSong ;
    color: #666666;
    line-height: 1.5rem;
}

.productionListWrapper {
    overflow: hidden;
    display: flex;
}
.productionListWrapper .imageCard {
    flex: 1;
    height: 269px;
    border: 1px solid transparent;
}
.productionListWrapper .imageCard img {
    height: 240px;
    width: 100%;
}
.productionListWrapper .imageCard .bottom {
    font-size: 14px;
    color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #f5f5f5;
}
.productionListWrapper .imageCard .active {
    background-color: #01a1ff;
    color: #ffffff;
}

.productionListWrapper .imageCard .bottom p {
    height:29px;
    line-height: 29px;
    text-align: center;
}

.productionListWrapper .imageCard .bottom p:last-child {
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-top: 6px;
    border-radius: 50%;
    background-color: #cccccc;
}
.productionListWrapper .imageCard .active p:last-child {
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-top: 6px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #01a1ff;
}
.productionListWrapper .imageCard:hover {
    background-color: #333333;
    opacity: 0.65;
    border: 1px solid #01a1ff;
}

/*消息中心*/
.newsCenterWrapper {
    width: 1200px;
    margin: 40px  auto;
    overflow: hidden;
    text-align: center;
}
.newsCenterWrapper .newsCenterHeader {
    margin: 10px 40px;
}
.newsCenterWrapper .newsCenterHeader h3 {
    font: 24px "Fira Code Retina";
    color: #000000;
}
.newsCenterWrapper .newsCenterHeader p {
    margin-top: 20px;
    font: 14px SimSong;
    color: #666666;
    line-height: 1.5rem;
}
.newsContent {
    overflow: hidden;
}


.leftContainer {
    float: left;
    width: 49%;
    height: 312px;
    background:  url("../file/imgs/pro-center3.jpg")   center  no-repeat  ;
    background-size: cover;
}
.leftContainer p {
    padding-left: 5px;
    margin-top:267px;
    background-color: #01a1ff;
    font: 14px "Source Code Pro";
    height: 40px;
    line-height: 40px;
    text-align: left;
    color: #ffffff;
}

/*
 <div class="dateWrapper">
                        <p class="day">15</p>
                        <p class="yearMonth">2016-03</p>
                    </div>
                    <div class="headerExplain">
                        <h3>AWE2016开幕,企业剧透竞相争艳,大咖云集</h3>
                        <p>纽曼公司成立于1996年,现有员工2000余人,是一家研发,制造,销售,服务薇一体的中国高薪技术企业
                            ;亚太区最大规模的家电展会上
                        </p>
                    </div>
 */

.rightContainer {
    float: right;
    width: 49%;
    height: 312px;
}
.rightContainer .header {
    overflow: hidden;
    display: flex;
}
.rightContainer .header .dateWrapper {
    width:70px;
    height: 80px;
}
.rightContainer .header .dateWrapper .day {
    border: 1px solid #01a1ff;
    padding: 8px;
    color:#01a1ff;
    font: 30px Helvetica;
}
.rightContainer .header .dateWrapper .yearMonth {
    background-color: #01a1ff;
    text-align: center;
    font:14px Helvetica;
    color: #ffffff;
}

.rightContainer .header .headerExplain {
    margin-left: 10px;
    text-align: left;
}
.rightContainer .header .headerExplain h3 {
    color: #01a1ff;
    font: 16px Helvetica;
}
.rightContainer .header .headerExplain p {
    margin-top: 5px;
    font: 12px SimSong ;
    color: #999999;
    line-height: 1.2rem;
}
.rightContainer .dotLink {
    overflow: hidden;
}

.rightContainer .dotLink  li  {
    list-style-type: none;
    float: left;
    width: 100%;
}
.rightContainer .dotLink  li a {
    width: 100%;
    padding: 5px 0;
    text-decoration: none;
    border-top: 1px dashed #cccccc;
    font: 14px SimSong;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#666666;
    line-height: 1.7rem;
}

.rightContainer .dotLink  li a:hover {
   animation:changeTextColor 0.4s ;
}
@keyframes changeTextColor {
    0% {
        color:#666666;
    }
    100% {
        color: #ffff00;
    }

}

.rightContainer .dotLink  li:last-child {
    border-bottom: 1px dashed #cccccc;
}

.videoWrapper {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid #cccccc;
    position: relative;
}
/*视屏*/
.videoWrapper img {
    width: 100%;
    height: 260px;
}
.videoWrapper .play {
    display: block;
    width: 55px;
    height: 55px;
    border: 3px solid #ffffff;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -22.5px;
    top: 100px;
}
/*绘制三角符号*/
.videoWrapper .play:after {
    content: '';
    display: block;
    border: 15px solid transparent;
    border-left-color: #ffffff;
    position: absolute;
    left: 23px;
    top: 13px;
}

/* 悬停在videoWrapper上,让其子组件 play做相应变色处理 */
.videoWrapper:hover .play {
    border: 3px solid #01a1ff;
    background-color: rgba(255,255,255,0.5);
}

.videoWrapper:hover .play:after {
    border-left-color: #01a1ff;
}
