/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/


.wrapper {
    background-color: #f5f5f5;
    padding: 10px 50px;
    margin: 10px auto;
    border: 1.5px solid lightgray;
    width: 800px;
}

.headerWrapper {
    background-color:cornflowerblue;
    color: white;
    font-size: 14px;
    padding: 10px 0px;
    margin: 0px;
    overflow: hidden;
}
.headerWrapper {
    padding: 0px;
}

/* 把顶部的ul 撑开 */
.headerWrapper ul {
    list-style-type: none;
    padding: 8px 0px 8px 20px;

}
.headerWrapper ul  li{
    margin-top: -10px;
    float: left;
    width: auto;
}
.headerWrapper ul li a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    text-align: left;

}

.mainContent {
    width:600px;
    float: left;
    text-indent: 2em;
    border-right: 1px dashed lightgray;
}


.mainContent p {
    margin:8px 0px ;
}

.mainContent h2 {
    margin: 0px;
    padding: 0px;
}

.mainContent h4 {
    margin: 10px 0px;
}

h2 {
    text-align: center;
}

.top-aside {
    margin-top:100px;
    margin-bottom: 10px;
}


.side {
    width: 180px;
    border: 1px solid lightgray;
    float: right;
    padding: 0px;


}

.side h4 {
    background-color:cornflowerblue;
    color: white;
    padding:5px 20px;
    /* 清除默认的margin*/
    margin: 0px;
}

.side ul {
    margin-top: 0px;
}

.side ul li a {
    text-decoration: none;
    color: #999999;
}


.contentWrapper {
    overflow: hidden;
}


.footer {
    padding: 10px;
    background-color: cornflowerblue;
}


/* 注意权重问题*/
.header ul li a:hover {
    color: red;
}

 .side ul li a:hover {
    color: red;
}

 /*为什么这个不生效? 因为权重问题,之前的a标签设置了text-decoration: none
 !important 加上去之后能生效
 */
 a:hover {
     color: blue ;
 }

