.navWrapper {
    text-align: center;
    width: 1920px;
    padding-top: 20px;
}
.nav {
    background-color: #fff;
    overflow: hidden;
    display: flex;
    height: 65px;

    margin: 0 auto;
    width:1200px ;
}
.nav .homeLogo {
    margin-right: 180px;
    width: 117px;
    height: 65px;
}
.nav ul li  {
    list-style-type: none;
    margin: 0 25px;
    float: left;
}

/*使用伪元素:after 添加底部下划线*/
/*.nav ul li:first-child:after {*/
/*    content: "";*/
/*    display: block;*/
/*    border-bottom: 4px solid #01a1ff;*/
/*    margin-top: -4px;*/
/*}*/
/*鼠标悬停时相关处理*/
.nav ul li a:hover:after {
    content: "";
    display: block;
    border-bottom: 4px solid #01a1ff;
    margin-top: -4px;
}

/* class为 active时相关高亮显示*/
.nav .active:after {
        content: "";
        display: block;
        border-bottom: 4px solid #01a1ff;
        margin-top: -4px;
}

.nav ul li a {
    display: block;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    height: 64px;
    line-height: 64px;
}
/*.nav  li .active:hover {*/
/*    color: #01a1ff;*/
/*    border-bottom:4px solid  red;*/
/*}*/

/*.nav  {*/
/*     color: #01a1ff;*/
/*     */
/* }*/

.nav .language {
    padding-top: 20px;
    margin-left:50px;
    height: 50px;
    color: #999999;
}
.nav .language span {
    padding: 5px;
    /*给默认透明的边框值,在动态效果的时候,文字不会抖动*/
    border: 1px solid transparent;
}
.nav .language span:hover {
    border: 1px solid #999999;
}

.nav .language .activeSpan {
    border: 1px solid #999999;
}
